body {
    background-color: rgb(151, 255, 255);
    }

h1 {
    color: rgb(31, 40, 211);
    margin-left: 40px;
}

h2.a{
    font-family : Verdana, Geneva, Tahoma, sans-serif; 
    font-size : 20px; 
    font-style : normal;
    font-weight : normal;
    color: rgb(200, 13, 175);
    margin-left: 40px;
}

h2.b{
    font-family : Arial; 
    font-size : 25px; 
    font-style : normal;
    font-weight : normal;
    color: rgb(183, 250, 25);
    margin-left: 40px;
}

ul{
    background-color:rgb(172, 255, 71); 
    list-style-type:square;
    list-style-position:inside;
    margin:5px 5px 15px 15px;
    padding:5px 5px 15px 15px;
    margin-left: 40px;
}
ol{
    background-color:rgb(232, 155, 223); 
    list-style-type:decimal-leading-zero;
    list-style-position:inside;
    margin:5px 5px 15px 15px;
    padding:5px 5px 15px 15px;
    margin-left: 40px;
}

p.center {
    text-align: center;
}

p.left {
    text-align: left;
}

p.right {
    text-align: right;
}

p.justify {
    text-align: justify;
}

.nama{
    color: red;
    font-family: 'Lucida Sans'
}

.jurusan{
    color: rgb(0, 177, 77);
    font-family: 'Courier New'
}